@{
    ViewBag.Title = "Joel Hilton Movie Collection";
}

<div>
    <br />
    <img width="68%" src="~/img/JoelHilton (1).jpg" />
    <br /><br />
    <h5 class="lead">You can trust me to find good movies.</h5>
</div>
