@{
    ViewBag.Title = "Top Podcasts of All Time";
}

<p class="lead"> View all of the very BEST podcasts in one simple collection!</p>

<p class="lead">Just click <a href="https://baconsale.com/">Here</a>.</p>
